<% @pages.each do |r| %>
  <div class="col-md-4 col-cards" style="padding-top: 15px; padding-bottom: 15px;">
    <div style="width: 100%;">
      <%= link_to r.foodventure_restaurant.foodventure, html_options = {style: "text-decoration:none;"} do %>
        <%= image_tag "http://s3.amazonaws.com/forthefoodie/#{r.filename}", style: "width:100%;" %>
      <% end %>
    </div>
    <div style="width: 100%; color:black; font-weight: 700; font-family: 'Roboto Slab', serif; font-size: 15px; margin-top: -50px;">
      <span class="photos-label" style="padding:8px; background-color:white; min-height: 50px; width: 100%; display:inline-block;">
        <%= link_to r.foodventure_restaurant.restaurant.name, results_path(restaurant: r.foodventure_restaurant.restaurant.name), html_options = {style: "text-decoration:none; background-color:transparent; color: black;", onmouseover: "this.style.color = '#FE7F83';", onmouseout:"this.style.color = 'black';"} %>
        <br>
        <span style="font-weight: 300;"><%= link_to r.name, foodventure_path(r.foodventure_restaurant.foodventure), html_options = {style: "text-decoration:none; background-color:transparent; color: black;", onmouseover: "this.style.color = '#FE7F83';", onmouseout:"this.style.color = 'black';"} %></span>
        <span class="pull-right" style="font-weight: 300; ">P<%= number_to_currency(r.price, precision: 2, strip_insignificant_zeros: true, unit: "") %></span>
      </span>
    </div>
  </div>
<% end %>
