<div class="left-section" style="padding: 40px;">
    <div style="margin-top: 20px; font-weight: 700; font-family: 'Roboto Slab', serif; font-size: 28px; color: #F2F2F2; letter-spacing: 5px;">FOR THE FOODIE</div>
      <div style="margin-top: 50px;">
          <div style="padding:0; margin:0; margin-top: 30px;">
            <select id="category" name="category" placeholder="meh" style="background-color: #F2F2F2; height: 50px; width: 100%; border:none; font-weight: 400; font-family: 'Roboto Slab', serif; font-size: 18px;padding-left:15px; padding-right: 15px; color: #7F7F7F;">
              <option value="" selected disabled>Search dish by:</option>
              <option value="name">Name</option>
              <option value="restaurant">Restaurant</option>
              <option value="cuisine">Cuisine</option>
              <option value="course">Course</option>
              <option value="meal">Meal</option>
              <option value="price">Price Range</option>
            </select>
          </div>
          <div style="padding:0; margin:0; margin-top: 18px;">
            <form action="/results" id="fsearch1">
              <input id="dish" name="dish" placeholder="Search dish" style="background-color: #F2F2F2; height: 50px; width: 100%; border:none; color: #7F7F7F; font-weight: 400; font-family: 'Roboto Slab', serif; font-size: 18px;padding-left:18px; padding-right: 18px;">
            </form>
            <form action="/results" id="fsearch2">
              <input class="cdropdown" id="restaurant" name="restaurant" placeholder="Search dish by restaurant" style="background-color: #F2F2F2; height: 50px; width: 100%; border:none; color: #7F7F7F; font-weight: 400; font-family: 'Roboto Slab', serif; font-size: 18px;padding-left:18px; padding-right: 18px;">
            </form>
            <form action="/results">
              <select class="cdropdown" id="course" name="course" style="background-color: #F2F2F2; height: 50px; width: 100%; border:none; font-weight: 400; font-family: 'Roboto Slab', serif; font-size: 18px;padding-left:15px; padding-right: 15px; color: #7F7F7F;" onchange="this.form.submit();">
                <option value="" selected disabled>Search dish by course:</option>
                <option value="appetizer">Appetizer</option>
                <option value="entree">Entree</option>
                <option value="main">Main</option>
                <option value="dessert">Dessert</option>
              </select>
            </form>
            <form action="/results">
              <select class="cdropdown" id="cuisine" name="cuisine" style="background-color: #F2F2F2; height: 50px; width: 100%; border:none; font-weight: 400; font-family: 'Roboto Slab', serif; font-size: 18px;padding-left:15px; padding-right: 15px; color: #7F7F7F;" onchange="this.form.submit();">
                <option value="" selected disabled>Search dish by cuisine:</option>
                <option value="american">American</option>
                <option value="filipino">Filipino</option>
                <option value="italian">Italian</option>
                <option value="japanese">Japanese</option>
                <option value="mexican">Mexican</option>
              </select>
            </form>
            <form action="/results">
              <select class="cdropdown" id="price" name="price" style="background-color: #F2F2F2; height: 50px; width: 100%; border:none; font-weight: 400; font-family: 'Roboto Slab', serif; font-size: 18px;padding-left:15px; padding-right: 15px; color: #7F7F7F;" onchange="this.form.submit();">
                <option value="" selected disabled>Search dish by price:</option>
                <option value="1">P150 and below</option>
                <option value="2">P151-P300</option>
                <option value="3">P301-P450</option>
                <option value="4">P451-999</option>
                <option value="5">P1000 and above</option>
              </select>
            </form>
            <form action="/results">
              <select class="cdropdown" id="meal" name="meal" style="background-color: #F2F2F2; height: 50px; width: 100%; border:none; font-weight: 400; font-family: 'Roboto Slab', serif; font-size: 18px;padding-left:15px; padding-right: 15px; color: #7F7F7F;" onchange="this.form.submit();">
                <option value="" selected disabled>Search dish by meal:</option>
                <option value="breakfast">Breakfast</option>
                <option value="lunch">Lunch</option>
                <option value="snacks">Snacks</option>
                <option value="dinner">Dinner</option>
              </select>
            </form>
          </div>

        <script>
        $(document).ready(function(){
          $(".cdropdown").hide();
          $('#category').on('change', function() {
            $(".cdropdown").hide();
            $("#dish").hide();
            if ($(this).val() == "course"){
              $("#course").show();
            }
            else if ($(this).val() == "cuisine"){
              $("#cuisine").show();
            }
            else if ($(this).val() == "meal"){
              $("#meal").show();
            }
            else if ($(this).val() == "price"){
              $("#price").show();
            }
            else if ($(this).val() == "restaurant"){
              $("#restaurant").show();
            }
            else if ($(this).val() == "name"){
              document.getElementById("dish").placeholder = "Search dish by name";
              $("#dish").show();
            }
            else{
              $("#dish").show();
            }
          });
          $("#restaurant").keyup(function(event){
            if(event.keyCode == 13){
              $('#fsearch2').submit();
            }
          });
          $("#dish").keyup(function(event){
            if(event.keyCode == 13){
              $('#fsearch1').submit();
            }
          });
        });
        </script>


        <div style="padding:0; margin:0; border-top: 5px solid #F2F2F2; margin-top: 40px; ">
          <div style="padding:0; margin:0; margin-top: 40px;">
            <% if current_page?(root_path) %>
            <%= link_to 'Foodventures', root_path, style: "color: black; text-decoration:none; font-weight: 400; font-family: 'Roboto Slab', serif; font-size: 22px; text-decoration:none; background-color:transparent" %>
            <% else %>
              <%= link_to 'Foodventures', root_path, style: "color: #F2F2F2; text-decoration:none; font-weight: 400; font-family: 'Roboto Slab', serif; font-size: 22px; text-decoration:none; background-color:transparent", onmouseover: "this.style.color = 'black';", onmouseout: "this.style.color = '#F2F2F2';"%>
            <% end %>
          </div>
          <div style="padding:0; margin:0; margin-top: 30px;">
            <% if current_page?(dishes_path) %>
              <%= link_to 'In Our Bellies', dishes_path, style: "color: black; text-decoration:none; font-weight: 400; font-family: 'Roboto Slab', serif; font-size: 22px; text-decoration:none; background-color:transparent;"%>
            <% else %>
              <%= link_to 'In Our Bellies', dishes_path, style: "color: #F2F2F2; text-decoration:none; font-weight: 400; font-family: 'Roboto Slab', serif; font-size: 22px; text-decoration:none; background-color:transparent;", onmouseover: "this.style.color = 'black';", onmouseout: "this.style.color = '#F2F2F2';"%>
            <% end %>
          </div>
          <div style="padding:0; margin:0; margin-top: 30px;">
            <% if current_page?(about_path) %>
              <%= link_to 'Meet the Foodies', about_path, style: "color: black; text-decoration:none; font-weight: 400; font-family: 'Roboto Slab', serif; font-size: 22px; text-decoration:none; background-color:transparent;"%>
            <% else %>
              <%= link_to 'Meet the Foodies', about_path, style: "color: #F2F2F2; text-decoration:none; font-weight: 400; font-family: 'Roboto Slab', serif; font-size: 22px; text-decoration:none; background-color:transparent;", onmouseover: "this.style.color = 'black';", onmouseout: "this.style.color = '#F2F2F2';"%>
            <% end %>
          </div>
        </div>
    </div>
  </div>