<div>
  <div style="height: 100vh; overflow-x:hidden; overflow-y:auto; background-color: white; font-family: 'Roboto Slab', serif;">  
    <!-- header -->
    <div style="background-color:#FF7474; height: 9vh; padding: 3.5vh 2.5vw;">
      <!-- <span style="color:white; font-weight: 400; font-size: 15px;">SEARCH DISH BY</span> -->
      <select style="background-color: transparent; border:none; font-weight: 400; color:white; font-size: 15px;">z
        <option value="" selected disabled style="font-weight: 300; color: black;">SEARCH BY:</option>
        <option value="name" style="font-weight: 300; color: #757575; font-size: 15px;">NAME</option>
        <option value="restaurant" style="font-weight: 300; color: #757575; font-size: 15px;">RESTAURANT</option>
        <option value="cuisine" style="font-weight: 300; color: #757575; font-size: 15px;">CUISINE</option>
        <option value="course" style="font-weight: 300; color: #757575; font-size: 15px;">COURSE</option>
        <option value="meal" style="font-weight: 300; color: #757575; font-size: 15px;">MEAL</option>
        <option value="price" style="font-weight: 300; color: #757575; font-size: 15px;">PRICE RANGE</option>
      </select>
      <span><input style="background-color: transparent; width: 250px; border:none; color: white; font-weight: 400; font-size: 15px; padding-left:10px; padding-right: 10px;"></span>
      <span class="pull-right" style="font-weight: 700; color: white; text-align:right; font-size: 40px;">FOR THE <span style="color: #212121;">FOODIE</span></span><!-- insert 'feeling' handwriting -->
      <span class="pull-right" style="margin-right: 3vw;">
        <a href="#" style="color: white; font-size:15px; text-decoration:none; background:none;" onmouseover="this.style.color = 'black';" onmouseout="this.style.color='white';">FOODVENTURES</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" style="color: white; font-size:15px; text-decoration:none; background:none;" onmouseover="this.style.color = 'black';" onmouseout="this.style.color='white';">IN OUR BELLIES</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" style="color: white; font-size:15px; text-decoration:none; background:none;" onmouseover="this.style.color = 'black';" onmouseout="this.style.color='white';">MEET THE FOODIES</a>
    </div>
    <!-- end of header -->
    <!-- rows -->
    <div style="padding-top: 3vh; padding-bottom: 5vh;">
      <!-- first row -->
      <div class="row" style="padding-top: 4vh; padding-left: 4vw; padding-right: 0vw;">
        <div class="col-md-4" style="width: 31.75%; height: 100%; padding: 0vh 1vw;">
          <%= image_tag "http://s3.amazonaws.com/forthefoodie/churros-small.jpg", style: "width:100%;" %>
          <div style="width: 100%; padding-top: 1vh; color: #212121; font-size: 17px;">
            <span style="font-weight: 700;">Foodventures #56</span><br>
            <div class="row" style="height: 100%; width: 100%; margin:0;">
              <div class="col-md-9" style="padding:0;"><span style="font-weight: 300; color: #757575;">Wildflour Cafe + Bakery, The Wholesome Table</span></div>
              <div class="col-md-3" style="padding:0;"><span class="pull-right" style="color: #FF7474; font-weight: 300; text-align:right;">READ MORE</span></div>
            </div>
          </div>
        </div>
        <div class="col-md-4" style="width: 31.75%; height: 100%; padding: 0vh 1vw;">
          <%= image_tag "http://s3.amazonaws.com/forthefoodie/salmon-small.jpg", style: "width:100%;" %>
          <div style="width: 100%; padding-top: 1vh; color: #212121; font-size: 17px;">
            <span style="font-weight: 700;">Foodventures #55</span><br>
            <div class="row" style="height: 100%; width: 100%; margin:0;">
              <div class="col-md-9" style="padding:0;"><span style="font-weight: 300; color: #757575;">Your Local, Yardstick</span></div>
              <div class="col-md-3" style="padding:0;"><span class="pull-right" style="color: #FF7474; font-weight: 300; text-align:right;">READ MORE</span></div>
            </div>
          </div>
        </div>
        <div class="col-md-4" style="width: 31.75%; height: 100%; padding: 0vh 1vw;">
          <%= image_tag "http://s3.amazonaws.com/forthefoodie/steak-small.jpg", style: "width:100%;" %>
          <div style="width: 100%; padding-top: 1vh; color: #212121; font-size: 17px;">
            <span style="font-weight: 700;">Foodventures #54</span><br>
            <div class="row" style="height: 100%; width: 100%; margin:0;">
              <div class="col-md-9" style="padding:0;"><span style="font-weight: 300; color: #757575;">Mamou, Chef du Partie</span></div>
              <div class="col-md-3" style="padding:0;"><span class="pull-right" style="color: #FF7474; font-weight: 300; text-align:right;">READ MORE</span></div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of first row -->
      <!-- website name -->
<!--       <div style="margin-top: 2vh; margin-bottom: 2vh; margin-left: 4vw; margin-right: 4.75vw; background-color:#212121; padding-top: 4vh; padding-bottom:3vh;">
        <center><span style="font-weight: 700; font-size: 50px; letter-spacing: 10px; color:white;">FOR THE <span style="color: #FF7474;">FOODIE</span></span></center>
      </div> -->
      <!-- end of website name -->
      <!-- second row -->
      <div class="row" style="padding-top: 4vh; padding-left: 4vw; padding-right: 0vw;">
        <div class="col-md-3" style="width: 23.75%; height: 100%; padding: 0vh 1vw">
          <%= image_tag "http://s3.amazonaws.com/forthefoodie/tomato-small.jpg", style: "width:100%;" %>
          <div style="width: 100%; padding-top: 1vh; color: #212121; font-size: 15px;">
            <span style="font-weight: 700;">Foodventures #52</span><br>
            <div class="row" style="height: 100%; width: 100%; margin:0;">
              <div class="col-md-9" style="padding:0;"><span style="font-weight: 300; color: #757575;">Wildflour, The Wholesome Table</span></div>
              <div class="col-md-3" style="padding:0;"><span class="pull-right" style="color: #FF7474; font-weight: 300; text-align:right;">LOGO</span></div>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="width: 23.75%; height: 100%; padding: 0vh 1vw;">
          <%= image_tag "http://s3.amazonaws.com/forthefoodie/breakfast-small.jpg", style: "width:100%;" %>
          <div style="width: 100%; padding-top: 1vh; color: #212121; font-size: 15px;">
            <span style="font-weight: 700;">Foodventures #51</span><br>
            <div class="row" style="height: 100%; width: 100%; margin:0;">
              <div class="col-md-9" style="padding:0;"><span style="font-weight: 300; color: #757575;">Wildflour, The Wholesome Table</span></div>
              <div class="col-md-3" style="padding:0;"><span class="pull-right" style="color: #FF7474; font-weight: 300; text-align:right;">LOGO</span></div>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="width: 23.75%; height: 100%; padding: 0vh 1vw;">
          <%= image_tag "http://s3.amazonaws.com/forthefoodie/tofu-small.jpg", style: "width:100%;" %>
          <div style="width: 100%; padding-top: 1vh; color: #212121; font-size: 15px;">
            <span style="font-weight: 700;">Foodventures #50</span><br>
            <div class="row" style="height: 100%; width: 100%; margin:0;">
              <div class="col-md-9" style="padding:0;"><span style="font-weight: 300; color: #757575;">Wildflour, The Wholesome Table</span></div>
              <div class="col-md-3" style="padding:0;"><span class="pull-right" style="color: #FF7474; font-weight: 300; text-align:right;">LOGO</span></div>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="width: 23.75%; height: 100%; padding: 0vh 1vw;">
          <%= image_tag "http://s3.amazonaws.com/forthefoodie/salmon-small.jpg", style: "width:100%;" %>
          <div style="width: 100%; padding-top: 1vh; color: #212121; font-size: 15px;">
            <span style="font-weight: 700;">Foodventures #49</span><br>
            <div class="row" style="height: 100%; width: 100%; margin:0;">
              <div class="col-md-9" style="padding:0;"><span style="font-weight: 300; color: #757575;">Wildflour, The Wholesome Table</span></div>
              <div class="col-md-3" style="padding:0;"><span class="pull-right" style="color: #FF7474; font-weight: 300; text-align:right;">LOGO</span></div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of second row -->

      <!-- third row -->
      <div class="row" style="padding-top: 4vh; padding-left: 4vw; padding-right: 0vw;">
        <div class="col-md-3" style="width: 23.75%; height: 100%; padding: 0vh 1vw">
          <%= image_tag "http://s3.amazonaws.com/forthefoodie/tomato-small.jpg", style: "width:100%;" %>
          <div style="width: 100%; padding-top: 1vh; color: #212121; font-size: 15px;">
            <span style="font-weight: 700;">Foodventures #52</span><br>
            <div class="row" style="height: 100%; width: 100%; margin:0;">
              <div class="col-md-9" style="padding:0;"><span style="font-weight: 300; color: #757575;">Wildflour, The Wholesome Table</span></div>
              <div class="col-md-3" style="padding:0;"><span class="pull-right" style="color: #FF7474; font-weight: 300; text-align:right;">LOGO</span></div>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="width: 23.75%; height: 100%; padding: 0vh 1vw;">
          <%= image_tag "http://s3.amazonaws.com/forthefoodie/breakfast-small.jpg", style: "width:100%;" %>
          <div style="width: 100%; padding-top: 1vh; color: #212121; font-size: 15px;">
            <span style="font-weight: 700;">Foodventures #51</span><br>
            <div class="row" style="height: 100%; width: 100%; margin:0;">
              <div class="col-md-9" style="padding:0;"><span style="font-weight: 300; color: #757575;">Wildflour, The Wholesome Table</span></div>
              <div class="col-md-3" style="padding:0;"><span class="pull-right" style="color: #FF7474; font-weight: 300; text-align:right;">LOGO</span></div>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="width: 23.75%; height: 100%; padding: 0vh 1vw;">
          <%= image_tag "http://s3.amazonaws.com/forthefoodie/tofu-small.jpg", style: "width:100%;" %>
          <div style="width: 100%; padding-top: 1vh; color: #212121; font-size: 15px;">
            <span style="font-weight: 700;">Foodventures #50</span><br>
            <div class="row" style="height: 100%; width: 100%; margin:0;">
              <div class="col-md-9" style="padding:0;"><span style="font-weight: 300; color: #757575;">Wildflour, The Wholesome Table</span></div>
              <div class="col-md-3" style="padding:0;"><span class="pull-right" style="color: #FF7474; font-weight: 300; text-align:right;">LOGO</span></div>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="width: 23.75%; height: 100%; padding: 0vh 1vw;">
          <%= image_tag "http://s3.amazonaws.com/forthefoodie/salmon-small.jpg", style: "width:100%;" %>
          <div style="width: 100%; padding-top: 1vh; color: #212121; font-size: 15px;">
            <span style="font-weight: 700;">Foodventures #49</span><br>
            <div class="row" style="height: 100%; width: 100%; margin:0;">
              <div class="col-md-9" style="padding:0;"><span style="font-weight: 300; color: #757575;">Wildflour, The Wholesome Table</span></div>
              <div class="col-md-3" style="padding:0;"><span class="pull-right" style="color: #FF7474; font-weight: 300; text-align:right;">LOGO</span></div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of third row -->
      <!-- more foodventures -->
      <div>
      </div>
      <!-- end -->
    </div>
    <!-- end of rows-->
    <!-- footer -->
    <div style="background-color:#212121; height: 9vh; padding: 2vh 2.5vw; color:white;">
      <span style="font-weight: 300; font-size: 15px;">< > by siopao<br>Copyright 2016</span>
    </div>
    <!-- end of footer -->
  </div>
</div>

<style>
select:focus{
  outline:none;
}
</style>
<!-- purple - 8C3573
green - AFCB80
orange - FA7A35
red - D01C1F
gold - F7E14A

from photo
purple - #6E345A
red - #D60927
orange - #FF602F
green - #98B364 -->