<div class="col-md-3" style="width: 23.75%; height: 100%; padding: 0vh 1vw; padding-top: 4vh">
  <%= link_to dish.foodventure_restaurant.foodventure do %>
    <%= image_tag "http://s3.amazonaws.com/forthefoodie/#{dish.filename}", style: "width:100%;" %>
  <% end %>
  <div style="width: 100%; padding-top: 1vh; color: #212121; font-size: 15px;">
    <span style="font-weight: 700;">
      <%= link_to dish.foodventure_restaurant.restaurant.name, results_path(restaurant: dish.foodventure_restaurant.restaurant.name), html_options = {style: "text-decoration:none; background-color:transparent; color: #212121;", onmouseover: "this.style.color = '#FF7474';", onmouseout:"this.style.color = '#212121';"} %>
      <span class="pull-right" style="padding-top: 12px; color: white; font-weight: 300;">
        <%= link_to foodventure_path(dish.foodventure_restaurant.foodventure), html_options = {class: "go-btn", style: "text-decoration:none; background-color: #FF7474; color:white; padding: 5px 5px; border-radius: 3px;", onmouseover: "this.style.background = '#212121';", onmouseout: "this.style.background='#FF7474';"} do %>
          <%= dish.verdict.upcase %>
        <% end %>
      </span>
    </span><br>
    <div class="row" style="height: 100%; width: 100%; margin:0;">
      <div class="col-md-9" style="padding:0;"><span style="font-weight: 300; color: #757575;">
        <%= link_to dish.name, foodventure_path(dish.foodventure_restaurant.foodventure), html_options = {style: "text-decoration:none; background-color:transparent; color: #757575;", onmouseover: "this.style.color = '#FF7474';", onmouseout:"this.style.color = '#757575';"} %>
      </span></div>
      <!--<div class="col-md-3" style="padding:0;"><span class="pull-right" style="color: white; font-weight: 300; text-align:right; margin-top: -5px; margin-left: ;">
        <%= link_to foodventure_path(dish.foodventure_restaurant.foodventure), html_options = {class: "dish-go-btn", style: "text-decoration:none; background-color: #FF7474; color:white; padding: 5px 5px; border-radius: 3px;", onmouseover: "this.style.background = '#212121';", onmouseout: "this.style.background='#FF7474';"} do %>
          <%= dish.verdict.upcase %> <!-- what if diff colors for good and bad -->
        <% end %>
        <!--  P<%= number_to_currency(dish.price, precision: 2, strip_insignificant_zeros: true, unit: "") %> 
      </span></div>-->
    </div>
  </div>
</div>