<div style="padding-top: 3vh; padding-bottom: 5vh;">
  <div style="padding-left: 10vw; padding-right: 10vw;">
    <div class="row">
      <div class="col-md-8 foodventure-show-left" style="min-height: 80vh;">
        <% count1 = 0 %>
        <% Foodventure.all.each do |f| %>
          <% count1 = count1 + 1 %>
          <% break if f.id == @foodventure.id %>
        <% end %>
        <h1 style="font-weight: 700; font-size: 20px; color: #757575; text-align:center;">
          Foodventures <%= count1 %>:
          <% @foodventure.foodventure_restaurants.each_with_index do |fr, index| %>
            <span style="color: #FF7474;">
              <% if index == 0 %>
                <%= fr.restaurant.name %>
              <% else %>
                , <%= fr.restaurant.name %>
              <% end %>
            </span>
          <% end %>
          <br><span style="font-weight: 300; font-size: 18px;"><%= @foodventure.date.strftime("%B %e, %Y") %></span>
        </h1>
        <% total_dishes = [] %>
        <% @foodventure.foodventure_restaurants.each do |fr| %>
          <% total_dishes = total_dishes + fr.dishes %>
        <% end %>
        <% total_dishes.each do |d| %>
          <div class="row" style="margin-left: 0; padding-left: 0; width: 100%; height: 100%; padding-top: 4vh; padding-bottom: 1vh;">
            <div class="col-md-9" style="padding: 0; font-weight: 300; color: #212121; font-size: 18px;">
              <%= d.name %> at <%= link_to d.foodventure_restaurant.restaurant.name, results_path(restaurant: d.foodventure_restaurant.restaurant.name), html_options = {style: "text-decoration:none; background-color:transparent; color: #212121;", onmouseover: "this.style.color = '#FF7474';", onmouseout:"this.style.color = '#212121';"} %> (P<%= number_to_currency(d.price, precision: 2, strip_insignificant_zeros: true, unit: "") %>)
            </div>
            <div class="col-md-3" style="padding: 0; text-align:right; font-weight: 300; color: #212121; font-size: 18px; font-weight: 300; color: white; font-size: 15px;">
              <span style="background-color: #FF7474; padding: 3px 5px; border-radius: 3px;"><%= d.verdict.upcase %></span>
            </div>
          </div>
          <%= image_tag "http://s3.amazonaws.com/forthefoodie/#{d.filename}", style: "width:100%;" %>
          <div style="font-weight: 300; font-size: 16px; margin-top: 1.5vh; line-height: 20px; color: #757575;">
            <span style="color: #FF7474;">Eylla</span>: <%= d.comment_e %><br><br>
            <span style="color: #FF7474;">Jacq</span>: <%= d.comment_m %>
          </div>
        <% end %>
        <div style="margin-top: 5vh; font-weight: 300; color: #212121; font-size: 16px;">
          <hr style="width: 100%; color: #757575;">
          <span style="font-size: 18px;">Foodventure destinations<br><br></span>
          <% @foodventure.foodventure_restaurants.each do |fr| %>
            <%= link_to fr.restaurant.name, results_path(restaurant: fr.restaurant.name), html_options = {style: "text-decoration:none; background-color:transparent; font-weight: 700; color: #212121;", onmouseover: "this.style.color = '#FF7474';", onmouseout:"this.style.color = '#212121';"} %><br>
            <span style="color: #FF7474;">Address</span>: <%= fr.restaurant.address %><br>
            <span style="color: #FF7474;">Recommended dishes</span>: 
            <% count = 0 %>
            <% fr.dishes.each do |d| %>
              <% if d.verdict == "pak" %>
                <% count = count + 1 %>
                  <% if count > 1 %>
                    , <%= d.name %> 
                  <% else %>
                    <%= d.name %>
                  <% end %>
                (P<%= number_to_currency(d.price, precision: 2, strip_insignificant_zeros: true, unit: "") %>)
              <% end %>
            <% end %>
            <br><br>
          <% end %>
        </div>
        <div style="margin-top: 5vh; font-size: 15px; color: #212121;">
          <% if (@foodventure == Foodventure.first) %>
            <% next_posts = Foodventure.where(id: [@foodventure.id + 1, @foodventure.id + 2, @foodventure.id + 3]) %>
          <% elsif (@foodventure == Foodventure.last) %>
            <% next_posts = Foodventure.where(id: [@foodventure.id - 1, @foodventure.id - 2, @foodventure.id - 3]) %>
          <% else %>
            <% next_posts = Foodventure.where(id: [@foodventure.id - 1, @foodventure.id + 1, @foodventure.id + 2]) %>
          <% end %>
          <div class="row" style="width: 100%; height: 100%;">
            <% next_posts.order('created_at DESC').each do |f| %>
              <% next_post_count = 0 %>
              <% Foodventure.all.each do |ff| %>
                <% next_post_count =  next_post_count + 1 %>
                <% break if f.id == ff.id %>
              <% end %>
              <div class="col-md-4" style="; height: 100%; padding: 0vh 1vw;">
                <%= link_to f do %>
                  <%= image_tag "http://s3.amazonaws.com/forthefoodie/#{f.foodventure_restaurants.first.dishes.first.filename}", style: "width:100%;" %>
                <% end %>
                <div style="width: 100%; padding-top: 1vh; color: #212121; font-size: 15px;">
                  <span style="font-weight: 700;">
                    <%= link_to "Foodventure ##{next_post_count}", f, html_options = {style: "text-decoration:none; background-color:transparent; color: #212121;", onmouseover: "this.style.color = '#FF7474';", onmouseout:"this.style.color = '#212121';"} %>
                    <span class="pull-right" style="padding-top: 12px; color: #FF7474; font-size: 25px;">
                      <%= link_to f, html_options = {class: "go-btn", style: "text-decoration:none; color: #FF7474;", onmouseover: "this.style.color = '#212121';", onmouseout: "this.style.color='#FF7474';"} do %>
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                      <% end %>
                    </span>
                  </span><br>
                  <div class="row" style="height: 100%; width: 100%; margin:0;">
                    <div class="col-md-9" style="padding:0;"><span style="font-weight: 300; color: #757575;">
                      <% f.foodventure_restaurants.each_with_index do |fr, index| %>
                        <% if index == 0 %>
                        <% else %>
                          ,
                        <% end %>
                        <%= link_to fr.restaurant.name, results_path(restaurant: fr.restaurant.name), html_options = {style: "text-decoration:none; background-color:transparent; color: #757575;", onmouseover: "this.style.color = '#FF7474';", onmouseout:"this.style.color = '#757575';"} %>
                      <% end %>
                    </span></div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-4 foodventure-show-right" style="overflow-y: auto; margin-top: 14vh;">
        <% count = Foodventure.all.count + 1 %>
        <% Foodventure.all.order('CREATED_AT desc').each do |f| %>
          <% count = count - 1 %>
          <% if count != count1 %>
            <div class="row" style="margin:none; padding:none; margin-bottom: 2vh;">
              <div class="col-xs-7" style="font-size: 15px; color: #212121;">
                <span class="pull-right" style="font-weight: 700;">
                  <%= link_to "Foodventure ##{count}", f, html_options = {style: "text-decoration:none; background-color:transparent; color: #212121;", onmouseover: "this.style.color = '#FF7474';", onmouseout:"this.style.color = '#212121';"} %>
                </span><br>
                <span class="pull-right" style="font-weight: 300; color: #757575;">
                  <% f.foodventure_restaurants.each_with_index do |fr, index| %>
                    <% if index == 0 %>
                    <% else %>
                      ,
                    <% end %>
                    <%= link_to fr.restaurant.name, results_path(restaurant: fr.restaurant.name), html_options = {style: "text-decoration:none; background-color:transparent; color: #757575;", onmouseover: "this.style.color = '#FF7474';", onmouseout:"this.style.color = '#757575';"} %>
                  <% end %>
                </span>
              </div>
              <div class="col-xs-5" style="padding-left: 0;">
                <%= link_to f do %>
                  <%= image_tag "http://s3.amazonaws.com/forthefoodie/#{f.foodventure_restaurants.first.dishes.first.filename}", style: "width:100%;" %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <script>
        $(document).ready(function(e){
          $(".foodventure-show-right").height($(".foodventure-show-left").height()-140);
        });
      </script>
    </div>
  </div>
</div>
