<!DOCTYPE html>
<html lang="en">
<head>
  <title>For the Foodie</title>
  <meta name="viewport" content="width=device-width,height=device-height initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <style src="assets/stylesheets/slidemenu.css.scss"></style>
</head>
<body>
  <div class="container-fluid" style="padding:0; margin:0; min-height: 100vh;">
    <div style="min-height: 100vh; height: 100%; margin: 0 auto -9vh; overflow-x:hidden; overflow-y:auto; background-color: white; font-family: 'Roboto Slab', serif;">  
      <%= render 'pages/navbar' %>
      <%= yield %>
      <div class="push" style="height: 9vh;"></div>
    </div>
  <%= render 'pages/footer' %>
  <%= javascript_include_tag('classie.js') %>
  <%= javascript_include_tag('slidemenu.js') %>
  </div>
</body>

</html>
